<!DOCTYPE html>
<html>
  <head>
    <title>Oriapp35700</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="left-wrapper">
      <div class="left-container">
        </ul>
      </div>
    </div>
     </header>

    <%= yield %>
    <footer>
      <div class="container">
        <div class="rightside-footer">
        </div>
        <div class="leftside-footer">
        </div>
      </div>
    </footer>
  </body>
</html>
